@import "tailwindcss";

html,
body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	background-color: var(--color-bg);
}

:root {
	font-family: "Lato";
	background-color: var(--color-bg);
}

[data-theme="light"] {
	--color-bg: #fff2e2;
	--color-btn-bar: #fff2e2;
	--hover-btn-bar: #f6ead8;
	--edit-mode-bg: #fde8cf;
	--color-semester-header: #cbd8e8;
	--color-border: #282828;
	--color-text: #000000;

	--course-main: #fffef3;
	--course-border: #7c6f64;
	--course-font: #1e293b;

	--course-elective: #2770de;
	--course-selected: #98971a;

	--prereq-low: #7c6f64;
	--prereq-high: #d65d0e;
	--color-danger: #dc2626;
}

[data-theme="dark"] {
	--color-bg: #1e1e1e;
	--color-btn-bar: #1e1e1e;
	--hover-btn-bar: #222222;
	--edit-mode-bg: #15191e;
	--color-semester-header: rgba(46, 57, 61, 0.5);
	--color-border: #757575;
	--color-text: #ffffff;

	--course-main: #313131;
	--course-border: #444444;
	--course-font: #fdfdfd;

	--course-elective: #2770de;
	--course-selected: #037a9e;

	--prereq-low: #a0c1d1;
	--prereq-high: #037a9e;
	--color-danger: #ef4444;
}
.is-resetting .react-flow__node {
	transition: transform 0.3s ease-in-out;
}
.react-flow__background {
	transition: background-color 300ms ease;
}
.react-flow__node {
	transition: background-color 300ms ease;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.error {
	animation: slideIn 0.2s ease-out;
}
