@import "tailwindcss";

html,
body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	background-color: var(--color-bg);
}

:root {
	font-family: "Lato";
	background-color: var(--color-bg);
}

[data-theme="light"] {
	--color-bg: #fff1eb;
	--color-border: #000000;
	--course-main: #f8f8f8;
	--course-border: #444444;
	--course-font: #000000;
	--course-elective: #2770de;
	--course-selected: #a4d4b4;
	--prereq-low: #2a1423;
	--prereq-high: #c383af;
}

[data-theme="dark"] {
	--color-bg: #1e1e1e;
	--edit-mode-bg: #15191e;
	--color-semester-header: rgba(46, 57, 61, 0.5);
	--color-border: #757575;
	--color-text: #ffffff;
	--course-main: #313131;
	--course-border: #444444;
	--course-font: #fdfdfd;
	--course-elective: #2770de;
	--course-selected: #037a9e;
	--prereq-low: #a0c1d1;
	--prereq-high: #a0c1d1;
}
.is-resetting .react-flow__node {
	transition: transform 0.3s ease-in-out;
}
.react-flow__background {
	transition: background-color 300ms ease;
}
.react-flow__node {
	transition: background-color 300ms ease;
}
